@import "../../shared/styles/variables/breakpoints.scss";
@import "../../shared/styles/background.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include gradient-background(#f6fbf2);

.header {
  display: none;
  position: relative;
  padding-top: 30px;

  @media (min-width: $screen-lg) {
    display: block;
  }
}

.headerMobile {
  display: block;
  position: relative;
  padding-top: 30px;

  @media (min-width: $screen-lg) {
    display: none;
  }
}
