@import "../../shared/styles/variables/breakpoints.scss";

.buttonsWrapper {
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $screen-lg) {
    justify-content: initial;
    margin-top: 20px;
  }

  display: flex;
}

.hidden {
  display: none;
}
