@import "../../shared/styles/variables/breakpoints.scss";

.buttonsWrapper {
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $screen-lg) {
    justify-content: initial;
    margin-top: 20px;
  }

  display: flex;
}

.hidden {
  display: none;
}

.heading {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    background: linear-gradient(180deg, #8ece42 0%, #8fe2d2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 25px 0;
    font-weight: 600;
  }
}
