.wrapper {
  margin-top: 80px;
}

.buttonsWrapper {
  display: flex;
  gap: 15px;
  white-space: nowrap;
  margin-top: 20px;
}

.cardWrapper {
  margin: 30px auto;
  width: 60%;
}

.switchesWrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
}
