@import "../../shared/styles/variables/breakpoints.scss";

.wrapper {
  @media (min-width: $screen-md) {
    margin-top: 80px;
  }

  margin-top: 30px;
}

.buttonsWrapper {
  @media (min-width: $screen-lg) {
    justify-content: initial;
  }

  display: flex;
  gap: 15px;
  white-space: nowrap;
  margin-top: 20px;
  justify-content: center;
}

.cardWrapper {
  @media (min-width: $screen-lg) {
    margin: 30px auto;
    width: 60%;
  }
}

.switchesWrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
}
