.heading {
  color: #2f4777;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 30px;
}

.page {
  margin-bottom: 50px;
}

.heroImage {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
