.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #0d1606;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.select {
  border-radius: 8px;
  border: 2px solid #d7dedd;
  padding: 8px;
  background: #fff;
  font: inherit;
  color: #0d1606;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  resize: vertical;
}
