@import "../../../shared/styles/variables/breakpoints.scss";
@import "../../../shared/styles/animations.scss";

.hidden {
  display: none;
}

.active {
  display: block;
  animation: fade-in 0.6s ease-in-out;
}

.tabContainer {
  min-height: 450px;
}

.heading {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    background: linear-gradient(180deg, #8ece42 0%, #8fe2d2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 30px 0;
    font-weight: 600;
  }
}
