.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  .text {
    width: 200px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    flex: 1;
  }
}

.imageWrapper {
  img {
    border-radius: 20px;
  }
}
