@import "../../../../../shared/styles/variables/breakpoints.scss";

@mixin card-colors($background-color, $text-color, $badge-background-color) {
  background-color: $background-color;
  color: $text-color;

  .badge {
    background-color: $badge-background-color;
  }
}

.card {
  max-width: 570px;
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: 28px;

  &.blue {
    @include card-colors(#ecf5fa, #3375b2, #d7e9f4);
  }

  &.yellow {
    @include card-colors(#fff7e6, #f9a825, #ffebc7);
  }

  &.lemonchiffon {
    @include card-colors(#fefadc, #7e6407, #f0e68c);
  }
}

.heading {
  font-size: 12px;
  font-weight: bold;

  @media (min-width: $screen-lg) {
    font-size: 16px;
  }
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 15px;
}

.badge {
  font-size: 9px;
  padding: 8px;
  border-radius: 28px;
  font-weight: 600;
  display: flex;
  place-items: center;
  gap: 5px;
  line-height: 12px;

  @media (min-width: $screen-lg) {
    font-size: 12px;
  }
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.textWrapper {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $screen-lg) {
    font-size: 16px;
  }
}

.textWithIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  border-radius: 10px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
}
