.button {
  background: white;
  padding: 8px 24px;
  position: relative;
  width: 185px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;

  --color-primary: transparent;
  --color-secondary: transparent;
  --gradient-radius: 180deg;

  &.greenVariant {
    --color-primary: #8ece42;
    --color-secondary: #8fe2d2;
  }

  &.blueVariant {
    --color-primary: #8174d7;
    --color-secondary: #68ceff;
    --gradient-radius: 90deg;
  }

  &.limeVariant {
    --color-primary: #a0f434;
    --color-secondary: #f4ca34;
    --gradient-radius: 90deg;
  }

  &.active {
    background: linear-gradient(
      var(--gradient-radius),
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    );
  }

  &:not(.active)::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(
      var(--gradient-radius),
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    );
  }
}
