@import "../../../../../shared/styles/variables/breakpoints.scss";

.button {
  border: 0;
  font-size: 10px;
  line-height: 32px;
  padding: 8px;
  border-radius: 8px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  cursor: pointer;

  @media (min-width: $screen-lg) {
    padding: 8px 24px;
    width: 256px;
    font-size: 16px;
    height: 48px;
  }

  --color-background: transparent;
  --color-text: black;

  &.yellow {
    --color-background: #f4ca34;
    --color-text: #7e6407;
  }

  &.blue {
    --color-background: #34aff4;
    --color-text: #075987;
  }

  background-color: var(--color-background);
  color: var(--color-text);
}

.icon {
  width: 12px;
  height: 12px;

  @media (min-width: $screen-lg) {
    width: 24px;
    height: 24px;
  }
}
