.button {
  border-radius: 8px;
  background: linear-gradient(180deg, #8ece42 0%, #8fe2d2 100%);
  width: 304px;
  padding: 8px 24px;
  border: none;
  color: #0d1606;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
  cursor: pointer;
}
