@import "../shared/styles/background.scss";
@import '../shared/styles/variables/breakpoints.scss';

@include gradient-background(
  linear-gradient(180deg, #f6fbf2 0%, #e2dff6 50.5%, #dfeef6 100%)
);

.mainWrapper {
  position: relative;
}

.wrapper {
  @media (min-width: $screen-md) {
    padding-bottom: 80px;
  }

  padding-bottom: 30px;
}