.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pinsWrapper {
  min-height: max-content;
  margin-top: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
