@import "../../../shared/styles/variables/breakpoints.scss";

.cardsWrapper {
  margin-top: 25px;

  @media (min-width: $screen-lg) {
    margin-top: 0;
    flex-wrap: nowrap;
  }

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
