@import "../../../shared/styles/variables/breakpoints.scss";

.container {
  border-radius: 20px;
  min-width: 300px;

  &.withImage {
    @media (min-width: $screen-lg) {
      min-width: 550px;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: none;
      min-height: unset;
    }
  }

  --bg-primary: transparent;
  --bg-secondary: transparent;

  background: linear-gradient(
    110deg,
    var(--bg-primary) 0%,
    var(--bg-secondary) 100%
  );

  &.softTeal {
    --bg-primary: #8bcfc8;
    --bg-secondary: #009598;
  }

  &.azureBlue {
    --bg-primary: #0092e5;
    --bg-secondary: #57acad;
  }

  &.plum {
    --bg-primary: #854278;
    --bg-secondary: #6ab6d6;
  }

  &.tropicalCyan {
    --bg-primary: #0cc1cc;
    --bg-secondary: #c5bf54;
  }

  &.sunsetHorizon {
    background: linear-gradient(110deg, #45a8f9 0%, #ff919f 48%, #ffcd7c 100%);
  }

  &.beachSand {
    --bg-primary: #ffa012;
    --bg-secondary: #dce015;
  }

  &.blueGreen {
    --bg-primary: #a7c822;
    --bg-secondary: #048bcc;
  }

  &.turquoisePurple {
    --bg-primary: #3bc4bc;
    --bg-secondary: #864ee2;
  }
}

.title {
  --line-height: 42px;

  font-size: 32px;
  line-height: var(--line-height);
  min-height: calc(2 * var(--line-height));
  color: white;
  font-style: normal;
  font-weight: 600;
}

.textWrapper {
  max-width: 300px;
  min-width: min-content;
  padding: 15px;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.learnMore {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  color: black;

  @media (min-width: $screen-lg) {
    justify-content: center;
  }
}

.image {
  display: none;

  @media (min-width: $screen-lg) {
    border-radius: 20px;
    display: block;
  }
}
