.button {
  border: 0;
  padding: 8px;
  font-size: 10px;
  line-height: 32px;
  padding: 8px;
  border-radius: 8px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height:32px;

  --color-background: transparent;
  --color-text: black;

  &.yellow {
    --color-background: #f4ca34;
    --color-text: #7e6407;
  }

  &.purple {
    --color-background: #4433b2;
    --color-text: #dbd7f4;
  }

  background-color: var(--color-background);
  color: var(--color-text);
}
