@import "../../../shared/styles/variables/breakpoints.scss";

.text {
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.wrapper {
  width: min-content;
  margin: 10px;
}

.wrapper:nth-of-type(1) {
  margin-top: 0;
}

.wrapper:last-of-type {
  margin-bottom: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20%;
  align-items: center;
  margin-bottom: 30px;
}
