.text,
.listItem {
  color: #0d1606;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  max-width: 500px;
}

.list {
  list-style: disc;
  margin-left: 30px;

  .listItem {
    .text {
      margin: 10px 0;
    }
  }
}

.bold{
  font-weight: 600;
}
