@import "../../shared/styles/variables/breakpoints.scss";

.image {
  border-radius: 40px;

  @media (min-width: $screen-lg) {
    display: block;
  }

  display: none;
}

.container {
  @media (min-width: $screen-lg) {
    flex-direction: row;
    align-items: flex-start;
  }

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.centered {
  align-items: center;
  justify-content: center;
}
