@import "../../shared/styles/variables/breakpoints.scss";
.heading {
  color: #ffa24b;
  font-size: 56px;
}

.headings {
  margin: 30px auto;
  text-align: center;
}

.thirdLevelHeading {
  font-size: 24px;
  color: #994a00;
  margin-top: 20px;
}

.secondLevelHeading {
  font-weight: 500;
  font-size: 28px;
  color: #4b88ff;
  margin-top: 30px;
}

.container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.contact {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactLink {
  width: 100%;
  text-align: center;

  @media (min-width: $screen-lg) {
    width: initial;
    text-align: left;
  }
}

.contactText {
  font-weight: bold;
  margin-bottom: 15px;
}

.contactImage{
  height:75px;
  width: auto;
}