@import "../../../shared/styles/variables/breakpoints.scss";

.infoIcon {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 24px 1fr;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  gap: 15px;
}

.image {
  @media (min-width: $screen-lg) {
    width: 24px;
    height: 24px;
  }
}

.link {
  color: white;
}
