@import "../../shared/styles/variables/breakpoints.scss";

.centered {
  text-align: center;
}

.footer {
  background-color: #0d1606;
  color: #f6fbf2;
  padding: 0 20px 30px 15px;

  @media (min-width: $screen-md) {
    padding: 30px 180px 50px;
  }
}

.iconsWrapper {
  border-top: 1px solid white;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
