.container {
  position: relative;
  padding: 15px;
}

.background {
  background: linear-gradient(180deg, #ddeed8 0%, #f6fbf2 37.37%);
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 100%;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 15px;
}

.upperWave {
  margin-bottom: 15px;
}

.bottomWave {
  margin-top: 15px;
}

.text {
  line-height: 16px;
  font-size: 10px;
}

.contactDataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
