@import "../../shared/styles/variables/breakpoints.scss";
@import "../../shared/styles/background.scss";

.container {
  position: relative;
  padding: 0 15px 15px;
}

@include gradient-background(
  linear-gradient(180deg, #ddeed8 0%, #f6fbf2 37.37%)
);

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 15px;
}

.upperWave {
  margin-bottom: 15px;
}

.bottomWave {
  margin-top: 15px;
}

.text {
  @media (min-width: $screen-lg) {
    font-size: 16px;
    line-height: 32px;
  }

  max-width: 80%;
  line-height: 16px;
  font-size: 14px;
}

.contactDataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.contactDataContainer > a {
  width: 90%;

  @media (min-width: $screen-md) {
    width: inherit;
  }
}
