.button {
  width: 165px;
  font-size: 18px;
  padding: 12px 16px;
  border: 0;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
